.valid__Acess{
    width: 17.875rem;
    height: 4.375rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 1030px;
    left: 480px;
    gap: 0.9rem;
    background-color: var(--grey-2);
    border-radius: 4px;
    padding: 1rem;
    img{
        width: 1.75rem;
        height: 1.75rem;
    }
    h3{
        font-size: var(--title3);
        color: var(--grey-0);
        width: 180px;
    }
    button{
        width: 0.8rem;
        height: 0.8rem;
        border: none;
        background-color: var(--grey-2);
        color: var(--grey-1);
        position: relative;
        bottom: 20px;
        left: 7px;
        &:hover{
            cursor: pointer;
        }
    }
}